
package ${target.javaPackageFromFolder(${SRC})};

import java.util.List;
import javax.xml.bind.annotation.XmlRootElement;

import com.fasterxml.jackson.annotation.JsonInclude;
import com.fasterxml.jackson.annotation.JsonInclude.Include;
import ${ROOT_PKG}.helper.dto.*;

@XmlRootElement
@JsonInclude(Include.NON_NULL)
public class Response extends ResponseBase {
	
#foreach( $entity in $selectedEntities )
#set ( $padderString = "" )
#set( $dtosBean = "List<" + ${entity.name} + "Dto>" )
#set( $datas = "items" + ${entity.name} )
	protected $padderString.format("%-35s%-30s%-22s", ${dtosBean}, ${datas}, ";")
#end

	//----------------------------------------------------------------------
    // GETTER(S) & SETTER(S) FOR DATA FIELDS
    //----------------------------------------------------------------------

#foreach( $entity in $selectedEntities )
#set( $dtoBean = ${entity.name} + "Dto" )
#set( $datas = "items" + ${entity.name} )
	/**
     * Get the "$datas" field value
     * @return the field value
     */
	public List<${dtoBean}> get$fn.capitalize($datas)() {
		return ${datas};
	}
	/**
     * Set the "$datas" field value
     * @param $datas
     */
	public void set$fn.capitalize($datas)(List<${dtoBean}> ${datas}) {
		this.${datas} = ${datas};
	} 

#end

}