#---------------------------------------------------------
# Templates configuration file
# Values separated by ";"
# . value 1 : the label
# . value 2 : the file to be generated ( var allowed : ${BEANNAME}, ${BEANNAME_UC}, ${BEANNAME_LC} )
# . value 3 : the project folder where to generate ( var allowed : ${BEANNAME}, ${BEANNAME_UC}, ${BEANNAME_LC} )
# . value 4 : the template to use
# . value 5 : number of execution : "1" for "ONCE" for all entities, default is multiple executions ( executed for each entity )
#---------------------------------------------------------
# Since v 2.0 the project's variables can be used in file and folder name
#---------------------------------------------------------


Entity       ; ${BEANNAME}.java    ; ${SRC}/${ENTITY_PKG}  				  ; entity.vm    ;	*

Dto      	 ; ${BEANNAME}Dto.java ; ${SRC}/${ROOT_PKG}/helper/dto				  	 	  ; dto.vm

Response     ; Response.java       ; ${SRC}/${ROOT_PKG}/helper/contrat    ; response.vm    			;	1

Request      ; Request.java        ; ${SRC}/${ROOT_PKG}/helper/contrat    ; request.vm     			;	1

Repository   ; ${BEANNAME}Repository.java      ; ${SRC}/${ROOT_PKG}/dao/repository    ; repository_interface.vm    ;

Transformer  ; ${BEANNAME}Transformer.java       ; ${SRC}/${ROOT_PKG}/helper/dto/transformer		  	  ; mapstruct_transformer.vm

Business     ; ${BEANNAME}Business.java       ; ${SRC}/${ROOT_PKG}/business/		  	  	  ; business.vm

Rest controller    ; ${BEANNAME}Controller.java       ; ${SRC}/${ROOT_PKG}/rest/api		  	  ; controller.vm