<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">Envoi d'email avec template</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
    	<p> <strong>userName</strong>:</p>
        <p th:text="${userName}"> ${userName} </p>
        <p><strong>password</strong>:</p>
        <p th:text="${password}"> ${password}<br /> </p>
        <p>
            Cordialement, <br />
            &emsp;Patrick BEUGRE <em></em>
            <span th:text="${date}">${date}</span>
        </p>
    </body>
</html>